.container {
    margin-top: 60px;
}

.title {
    color: #969696;
    font-size: 30px;
}

.selectedIngredient {
    text-align: center;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .title {
        font-size: 22px;
    }
    .subTitle {
        font-size: 25px;
    }

}


@media screen and (max-width: 479px) {

    .title {
        font-size: 20px;
    }
    .subTitle {
        font-size: 23px;
    }

}
